html,
body {
  overscroll-behavior: none;
  background-color: white;
}

body {
  margin: 0;
}

body>* {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 100dvh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}